/* Reset */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  font-family: Arial, Helvetica, sans-serif;

  background: linear-gradient(
    to bottom,
    #c68642,
    #7a4a18
  );
}

/* Container */
.container{
  background:#ffffff;

  padding:40px 30px;

  border-radius:15px;

  text-align:center;

  max-width:360px;

  box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

/* Título */
.titulo{
  font-size:26px;
  margin-bottom:20px;
}

/* Mensagem */
.mensagem{
  font-size:16px;
  line-height:1.5;
  margin-bottom:25px;
}

/* Lista */
.lista-presentes{
  display:flex;
  flex-direction:column;
  gap:12px;

  margin-bottom:30px;
}

/* Item */
.item{
  background:#f5f5f5;

  padding:12px;

  border-radius:10px;

  font-size:15px;

  box-shadow:0 3px 8px rgba(0,0,0,0.1);
}

/* Botão voltar */
.botao-voltar{
  display:inline-block;

  text-decoration:none;

  background:#c68642;

  color:#fff;

  padding:12px 20px;

  border-radius:10px;

  font-weight:bold;

  transition:0.2s;
}

/* Hover */
.botao-voltar:hover{
  transform:scale(1.05);
}